#member {
    margin: 100px 0;
    margin-bottom: 10px;
}

.social-icons {
    a {
        color: #007bff;
        padding: 4px 8px;
        display: inline-block;
        font-size: 15px;
    }
}

.member-member {
    margin-top: 30px;
    &:hover .member-img img {
        opacity: .8;
    }
    .member-img {
        position: relative;
        .member-pic {
            width: 100%;
        }
    }
    .member_designation {
        font-size: 13px;
    }
    h3 {
        color: $primary-color;
        margin-bottom: 0;
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
}