<!--
            ==================================================
            Footer Section Start
            ================================================== -->
<footer id="footer">
    <div class="container">
        <div class="row content-justify-between">
            <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                <p class="copyright">Copyright ©︎ Seong Young Ah Laboratory / ソンヨンア研究室
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- /#footer -->